@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.conteudo {
    display: flex;
    width: 100%;
}

.botao-menu{
    display: none;
}

.conteudo-principal {
    width: 100%;
    padding-left: 20%;
}

.titulo-principal {
    display: flex;
    flex-direction: column;
}

.cabecalho{
    font-family: 'Roboto', sans-serif;
    color:  #725C5C;
    background-color: #FDF1EB;
    max-height: 4.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.titulo-h6 {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 3%;
}


.titulo-h3 {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: -3%;
}

.titulo-numero {
    font-weight: 400;
    font-size: 14px;
    margin-top: -3%;
    margin-left: 3%;
}


.botao-idiomas{
    background-color: #FDF1EB;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    color:  #333333;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 100px;
    height: 35px;
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.botao-idiomas:hover{
    border: 1px solid  #333333;
    cursor:pointer;
}

.lista-idiomas {
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #ECECEC;
    border-radius: 4px;
    display: none;
    background-color: #fff;
    position:absolute;
    margin-left: 20px;
    width: 95px;
}

.login-principal {
    display: flex;
}

.login{
    display: flex;
    flex-direction: column;
    margin-left: -15%;
    
}



.bemvindo{
    margin-bottom: 0%;
    margin-left: 60%;
    font-weight: 400;
    font-size: 14px;
}
.email{
    margin-top: 0%;
    font-weight: 400;
    font-size: 14px;
}




.foto-perfil{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin-left: 5%;
    margin-top: 8%;
}

.aviso-notificacao{
    width: 15px;
    height: 15px;
    z-index: 10;
    margin-top: 8%;
    margin-left: -4%;

}



.slaca-titulo{
    max-height: 4.4%;
    text-align: center;
    padding: 0.1px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFF;
    font-size: 20px; 
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


#logo {
    width: 100%;
}



.menu{
    display:flex;
    flex-direction:column;
    width: 20%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: fixed;
    top: 0;
    padding-bottom: 10vh;
}

hr {
    border: none;
    height: 1px;
    background-color:  rgba(0, 0, 0, 0.25);
}



.menu a{
    margin-left: 6%;
    text-decoration: none;
    color:#725C5C;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.link1{
    display: flex;
    flex-direction: column;
    border: 0px 1px 1px 1px solid #E7E7E7;
    padding: 2%;
}

.link1:hover{
    background-color: #FDF1EB;
}

.links{
    display: flex;
    flex-direction: column;
    border: 1px solid #E7E7E7;
    padding: 2%;
}

.opcao-selecionada {
    display: flex;
    flex-direction: column;
    background-color: #FDF1EB; 
    border-left: solid;
    border-left-color: #ED7839;
    padding: 2%;
}

.links:hover{
    background-color: #FDF1EB;
}

.todo-conteudo{
    display: flex;
    flex-direction: column;
}

.video-detalhes{
    display: flex;
}

.titulo-video{
    
    display:flex;
    flex-direction:column;
    width: 70%;
    margin-left: 3%;
}

.titulo-artigo{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 20px;
    font-weight: 900;
    margin-right: 5%;
}



.botoes-detalhes{
    margin-left: 4%;
    margin-top: 2%;
}

.bloco-botoes{
    display: flex;
    margin-left: 7.5%;
}

.botao-download{
    color: #FFF;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.botao-download:hover, .botao-favorito:hover, .botao-doi:hover {
    cursor: pointer;
    background-color: #f68e56;

}


.botao-favorito{
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 3px; 
    width: 45px;
    margin-left: 10px;
    margin-right: 10px
}


.botao-doi{
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 3px;
    width: 45px;
}


.citar-trabalho{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 14px;
    font-weight: 500;
    margin-left: 7.5%;
}

.bloco-detalhes{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:  #4E4E4E;
    margin-right: 12%;
    margin-top: -8%
}

.titulo-detalhes{
    display: flex;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FDF1EB;
    margin-bottom: 0px;
    padding: 10px;
}

.detalhes-item{
    color: #5C5C5C;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    list-style: none;
    border: 1px solid #ECECEC;
    margin-top: 0px;
    padding: 0px 15px
}

.item-universidades{
    font-family: 'Quicksand', sans-serif;
}

.resumo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.bloco-resumo{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.resumo-titulo{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resumo-conteudo{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5C5C5C;
    padding: 0px 15px
}

#botaoVerMais{
    display: flex;
    margin-bottom: 5px;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ED7839;
    border: none;
    background-color: #FFF;
}



#botaoVerMais:hover {
    cursor: pointer;
}


#textoEscondido {
    display: none;
}

#discussao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.bloco-discussao{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.titulo-discussao{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compartilhar{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5%;
}

.bloco-imagens{
    display: flex;
}

.voce-sabia{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    text-align: center;
}

.botao-topico{
    display: flex;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    align-items: center;
    margin-top: -20%;
}

.botao-topico:hover{
    cursor: pointer;
    background: #f68e56;
}

#divFormulario{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: none;
}

.bloco-formulario{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}



.duvida{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: -55%;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    size: 16px;
    color: #ED7839;
}

#assunto {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 228%;
    margin-bottom: 10px;
    padding: 10px;
}

#conteudo{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 228%;
    height: 30%;
    padding: 20px 10px;
    resize: none;
    border-bottom: 0px;
}


.div-botao-formulario{
    display: flex;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    width: 228%;
    margin-top: 0px;

}



.botao-formulario{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    color: #fff;
    border-radius: 0px 0px 4px 0px;
    margin-left: 73.6%;
    border: none;
    padding: 5px 80px;
}

.botao-formulario:hover{
    cursor: pointer;
    background: #FEB154;
}



hr{
    width: 90%;
    margin-top: 2%;
}

.campo-perguntas{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center; 
    padding: 5px;
}

#cardTopico{
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-top: 0%;
}

#cardTopico2{
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-top: 0%;
}

.pergunta{
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 3%;
    
}

.assunto{
    color: #ED7839;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 2%;
    margin-left: 2%;
}

.nome{
    color: #5C5C5C;
    font-size: 12px; 
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.autor {
    color: #5C5C5C;
    font-size: 12px; 
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    display: flex; 
}

.autor-detalhes{
    color:  #ED7839; 
    font-size: 14px; 
    font-weight: 700;
    display: flex;
    margin-top: 0.5%;
    margin-bottom: -10%;
    margin-left: 80%;
}

.texto-pergunta{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
}

#perguntaNova{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
}

#assuntoNovo{
    border: none;
    border-radius: 3px;
    width: 228%;
    margin-bottom: 10px;
    padding: 10px;
}

.acoes{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.botao-respostas, .botao-respostas2{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #757575;
    background-color: #FFF;
    border: none;
    margin-left: 2%;
}

.botao-respostas:hover, .botao-respostas2:hover{
    cursor: pointer;
}

.likes{
    font-size: 14px;
    color: #757575;
    margin-left: 2%;
}

#feedbackEnviado{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: none;
}

.bloco-feedback{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.topico-enviado{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 18px;
    font-weight: 700;
    margin-top: 8%;
    margin-bottom: 2%;
}

.agradecimento{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    text-align: center;
    margin-bottom: 1%;
}

.descobrir-trabalhos{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 70%;
    text-align: center;
    margin-bottom: 3%;
    
}

.campo-pergunta-nova{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center; 
    padding: 5px;
    margin-bottom: -6%;
}

.div-sobreposta{
    background-color: rgb(221, 221, 221, 0.9);
    margin-top: -13.1%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    padding: 24px 0px;
    margin-bottom: -2%;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
}

.imagem-aguardando{
    margin-top: 2%;
}

.aguardando{
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #707070;
    margin-bottom: 0%;
    margin-top: 3%;
}

.editar-topico{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ED7839;
    margin-top: 3%;
}

.rodape{
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}


@media (max-width: 1300px){
   .conteudo{
       display: flex;
       margin: center;
   }

   .menu{
       width: 15%;
       padding-bottom: 15vh;
       margin-left: 1%;
   }

   .slaca-titulo {
       padding: 11.6px;
       font-size: 16px;

   }

   .titulo-principal{
       width: unset;
   }
   .conteudo-principal{
       padding-left: 15%;
   }

   .titulo-h3{
       font-size: 16px;
   }

   .login {
       margin-left: 0%;
   }

   .botao-idiomas {
       margin-left: -5%;
   }

   .lista-idiomas {
       margin-left: -80px;
   }
   

   .video-detalhes {
       flex-direction: column;
       margin-left: 10%;
       margin-top: 4%;
       width: 100%;
       
   }

   .bloco-botoes{
       margin-left: 24%;
       margin-top: 2%;
   }

   .citar-trabalho{
       margin-left: 24%;
   }
   .bloco-detalhes {
        width: 74%;
        margin-left: -1%;
        margin-top: 0%;
   }

   .resumo, #discussao, #divFormulario, #feedbackEnviado {
       width: 80%;
       margin-left: 10%;
   }

   .formulario {
    width: 58%;
    margin-left: -18%;
   }
   .div-botao-formulario{
       width: 190%;
   }

   .div-sobreposta{
        margin-top: -16.1%
   }

   .autor-detalhes{
       display: none;
   }

   .imagem-rodape{
       width: 100%;
   }

}



@media (max-width: 1000px){
    .conteudo{
        display: flex;
        margin: center;
    }
 
    .menu{
        display: none;
        position: absolute;
        background-color: #FFF;
        margin-top: 10%;
        padding-bottom: 0%;
        width: 28%;
    }

    .botao-menu{
        display: flex;
        margin-left: 10%;
        height: 55px;
        width: 55px;
        margin-left: 6%;
        margin-top: 3%;
        background-color: #FDF1EB;
        border: none;  
    }


 
    .botao-menu:hover{
        cursor: pointer;
        background-color: #e9ddd7;
        border-radius: 4px;
        padding: 1% 1% 2% 1%;
    }

    #logo{
        display: none;
    }
 
    .slaca-titulo {
        padding: 0%;
        font-size: 14px;
 
    }
 
    .titulo-principal{
        width: unset;
    }
    .conteudo-principal{
        padding-left: 0%;
    }
 
    .titulo-h3{
        font-size: 18px;
        margin-left: 0%;
    }

    .titulo-h6 {
        font-size: 12px;
        margin-left: 0%;
    }

    .titulo-numero {
        font-size: 12px;
        margin-left: 0%;
    }
 
    .login {
        display: none;
    }

    .foto-perfil{
        margin-left: -15px;
    }

    .aviso-notificacao{
        margin-left: -14px;
    }

    
    .botao-idiomas {
        display: none;
    }

    .formulario {
        width: 40%;
        margin-left: 0%;
    }

    .div-botao-formulario{
        width: 146%;
    }

    .div-sobreposta{
        margin-top: -18.1%;
    }
}


@media (max-width: 600px){
    .conteudo{
       display: flex;
       margin: center;
       
   }

   .botao-menu{
       display: flex;
       margin-left: 10%;
       height: 40px;
       width: 40px;
       margin-left: 4%;
       margin-top: 3%;
       background-color: #FDF1EB;
       border: none;  
   }

   .botao-menu:hover{
       cursor: pointer;
       background-color: #e9ddd7;
       border-radius: 4px;
       padding: 1% 1% 2% 1%;
   }

   .menu{
    display: none;
    position: absolute;
    background-color: #FFF;
    margin-top: 16%;
    padding-bottom: 0%;
    width: 28%;
   }

   #logo {
       display: none;
   }
   
   .slaca-titulo{
       font-size: 10px;
   }

   .titulo-principal {
       width: unset;
       margin-left: 0%;
       margin-top: 4%;
   }
   .titulo-h3 {
       font-size: 13px;
       font-weight: 600;
       
   }

   .titulo-h6 {
    font-size: 11px; 
    margin-top: 2%;
    margin-left: 0%;
}

    .titulo-numero{
        font-size: 11px;
    }

    .botao-idiomas{
        display: none;
    }

   

    .conteudo-principal{
        padding: 0%;
    }

    .bemvindo{
        font-size: 11px;
    }

    .email, .bemvindo{
        display: none;
    }

    .foto-perfil{
        margin-left: 12%;
        margin-top: 4%;
        width: 30px;
        height: 30px
    }
    .aviso-notificacao{
        width: 10px;
        height: 10px;
        margin-top: 3%;
        margin-left: -16%;
    }

    .video-detalhes {
        flex-direction: column;
        width: 120%;
        align-items: center;
        margin-left: -12%;
    }

    .titulo-artigo{
        font-size: 16px;
        text-align: justify;
    }

    .bloco-botoes{
        margin-left: 18%;
    }

    .citar-trabalho{
        margin-left: 18%;
    }

    .bloco-detalhes{
        width: 110%;
        margin-left: -9%;
    }

    .botoes-detalhes {
        margin-left: 9%;
    }

    .titulo-detalhes, .bloco-resumo, .bloco-discussao, .bloco-formulario, .bloco-feedback {
        font-size: 16px;
    }

    .compartilhar{
        font-size: 15px;
    }

    .duvida {
        font-size: 12px;
    }

    .formulario {
        margin-left: 4%;
        width: 38%;
    }

    .div-botao-formulario {
        width: 298px;
    }

    .botao-formulario{
        margin-left: 34.6%;
    }

    .assunto {
        font-size: 14px;
    }

    .autor-detalhes {
        display: none;
    }

    .div-sobreposta {
        padding: 26px 0px;
        margin-top: -32.1%;

    }

    .rodape{
        display: none;
    }

    .resumo, #discussao, #divFormulario, #feedbackEnviado {
        width: 80%;
    }
}

