@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 0px;
    padding: 0px;
}

.conteudo {
    display: flex;
}

.conteudo-principal {
    width: 100%;
}

.cabecalho{
    font-family: 'Roboto', sans-serif;
    color:  #725C5C;
    background-color: #FDF1EB;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.titulo-h6 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 3%;
}


.titulo-h3 {
    font-weight: 400;
    font-size: 22px;
    margin-top: -30px;
    margin-left: 3%;
    margin-right: -3%
}

.titulo-numero {
    font-weight: 400;
    font-size: 14px;
    margin-top: -18px;
    margin-bottom: 0px;
    margin-left: 3%;
}


.botao-idiomas{
    background-color: #FDF1EB;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400; 
    color:  #333333;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 100px;
    height: 35px;
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.botao-idiomas:hover{
    border: 1px solid  #333333;
    cursor:pointer;
}

.lista-idiomas {
    font-family: 'Quicksand', sans-serif;
    border: 2px solid #ECECEC;
    border-radius: 4px;
    display: none;
    background-color: #fff;
    position:absolute;
    margin-left: 20px;
    width: 95px;
}

.login-principal {
    display: flex;
}

.login{
    display: flex;
    flex-direction: column;
    margin-left: -15%;
    
}



.bemvindo{
    margin-bottom: 0%;
    margin-left: 60%;
    font-weight: 400;
    font-size: 14px;
}
.email{
    margin-top: 0%;
    font-weight: 400;
    font-size: 14px;
}




.foto-perfil{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-left: 5%;
    margin-top: 10%;
}



.slaca-titulo{
    height: 80px;
    text-align: center;
    padding: 0.1px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFF;
    font-size: 20px; 
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}


#logo {
    width: 200px;
}



.menu{
    display:block;
    width: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

hr {
    border: none;
    height: 1px;
    background-color:  rgba(0, 0, 0, 0.25);
}



.menu a{
    margin-left: 10px;
    text-decoration: none;
    color:#725C5C;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.opcao-selecionada {
    background-color: #FDF1EB; 
    border-left: solid;
    border-left-color: #ED7839;
    
    
}

.todo-conteudo{
    display: flex;
    flex-direction: column;
}

.video-detalhes{
    display: flex;
    
}

.titulo-video{
    
    display:flex;
    flex-direction:column;
    width: 70%;
    margin-left: 3%;
}

.titulo-artigo{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 20px;
    font-weight: 900;
    margin-right: 5%;
}



.botoes-detalhes{
    margin-left: 4%;
    margin-top: 2%;
}

.bloco-botoes{
    display: flex;
    margin-left: 17.5%;
}

.botao-download{
    color: #FFF;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.botao-download:hover {
    cursor: pointer;
    background-color: #f68e56;

}


.botao-favorito{
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 3px; 
    width: 45px;
    margin-left: 10px;
    margin-right: 10px
}

.botao-favorito:hover {
    cursor: pointer;
    background-color: #f68e56;
}

.botao-doi{
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 3px;
    width: 45px;
}

.botao-doi:hover {
    cursor: pointer;
    background-color: #f68e56;
}

.citar-trabalho{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 14px;
    font-weight: 500;
    margin-left: 17.5%;
}

.bloco-detalhes{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:  #4E4E4E;
    margin-right: 12%;
    margin-top: -8%
}

.titulo-detalhes{
    display: flex;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FDF1EB;
    margin-bottom: 0px;
    padding: 10px;
}

.detalhes-item{
    color: #5C5C5C;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    list-style: none;
    border: 1px solid #ECECEC;
    margin-top: 0px;
    padding: 0px 15px
}

.item-universidades{
    font-family: 'Quicksand', sans-serif;
}

.resumo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.bloco-resumo{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.resumo-titulo{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resumo-conteudo{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5C5C5C;
    padding: 0px 15px
}

#botaoVerMais{
    display: flex;
    margin-bottom: 5px;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ED7839;
    border: none;
    background-color: #FFF;
}



#botaoVerMais:hover {
    cursor: pointer;
}


#textoEscondido {
    display: none;
}

#discussao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.bloco-discussao{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.titulo-discussao{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compartilhar{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5%;
}

.bloco-imagens{
    display: flex;
}

.voce-sabia{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    text-align: center;
}

.botao-topico{
    display: flex;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    align-items: center;
    margin-top: -20%;
}

.botao-topico:hover{
    cursor: pointer;
    background: #f68e56;
}

#divFormulario{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: none;
}

.bloco-formulario{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}



.duvida{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: -60%;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    size: 16px;
    color: #ED7839;
}

#assunto {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 237%;
    margin-bottom: 10px;
    padding: 10px;
}

#conteudo{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 237%;
    height: 30%;
    padding: 20px 10px;
    resize: none;
    border-bottom: 0px;
}


.div-botao-formulario{
    display: flex;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    width: 237%;
    margin-top: 0px;

}



.botao-formulario{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    color: #fff;
    border-radius: 0px 0px 4px 0px;
    margin-left: 82.8%;
    border: none;
    padding: 5px 80px;
}

.botao-formulario:hover{
    cursor: pointer;
    background: #FEB154;
}



hr{
    width: 90%;
    margin-top: 2%;
}

.campo-perguntas{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center; 
    padding: 5px;
}

#cardTopico{
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-top: 0%;
}

#cardTopico2{
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin-top: 0%;
}

.pergunta{
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 3%;
    
}

.assunto{
    color: #ED7839;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 2%;
    margin-left: 2%;
}

.nome{
    color: #5C5C5C;
    font-size: 12px; 
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.texto-pergunta{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.acoes{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.botao-respostas{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #757575;
    background-color: #FFF;
    border: none;
    margin-left: 2%;
}

.botao-respostas:hover{
    cursor: pointer;
}

.likes{
    font-size: 14px;
    color: #757575;
    margin-left: 2%;
}

/* .respostas{
    font-size: 14px;
    color: #757575;
    margin-left: 2%;
} */

#feedbackEnviado{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: none;
}

.bloco-feedback{
    display: flex;
    color: #4E4E4E;
    background-color: #FDF1EB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.topico-enviado{
    font-family: 'Roboto', sans-serif;
    color: #ED7839;
    font-size: 18px;
    font-weight: 700;
    margin-top: 8%;
    margin-bottom: 2%;
}

.agradecimento{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    text-align: center;
    margin-bottom: 1%;
}

.descobrir-trabalhos{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 70%;
    text-align: center;
    margin-bottom: 3%;
    
}

.campo-pergunta-nova{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center; 
    padding: 5px;
    margin-bottom: -6%;
}

.div-sobreposta{
    background-color: rgb(221, 221, 221, 0.9);
    margin-top: -11.1%;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    padding: 17px 0px;
    margin-bottom: -2%;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
}

.imagem-aguardando{
    margin-top: 2%;
}

.aguardando{
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #707070;
    margin-bottom: 0%;
    margin-top: 3%;
}

.editar-topico{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ED7839;
    margin-top: 3%;
}

.rodape{
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
}